<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script type="module" src="/js/bio/bio.js" defer></script>
    <title>All Candidates</title>
</head>
<body>
    <nav class="editable-table-nav">
        <h1>All Candidates
        <div class="navigation-buttons">
            <a href="/" class="btn-nav">↑</a>
            <button id="home">⌂</button>
            <a href="/bio/new" class="btn-nav">Add New Candidate</a>
        </div>
        </h1>
    </nav>

    <form method="GET" action="/candidates" class="search-form">
        <input 
            type="text" 
            name="search" 
            placeholder="Search candidates" 
            value="<%= searchValue %>" 
        />
        <button type="submit">Search</button>
    </form>



    <% Object.keys(groupedCandidates).forEach(job => { %>
        <div class="occupation-box">
            <h2><%= job %></h2>
            <div class="interactive-list">
                <% groupedCandidates[job].forEach(user => { %>
                    <div class="interactive-card">
                        <p><strong>
                            <%= user.name %> <%= user.surname %>
                            <% if (user.job_offer) { %>
                                <span class="hired-badge">Hired</span>
                            <% } %>
                        </strong></p>
                        <p>Interview: <%= user.interview_date ? user.interview_date.toISOString().split('T')[0] : 'Not specified' %></p>
                        <p>Contact: <%= user.contact_date ? user.contact_date.toISOString().split('T')[0] : 'Not specified' %></p>
                        <p>Status: <%= user.selection_status || 'Not specified' %></p>
                        <div class="links">
                            <a href="/bio/<%= user.u_id %>">Biography</a>| 
                            <a href="/job/<%= user.u_id %>">Job Card</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    <% }) %>
</body>
</html>