<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script type="module" src="/js/bio/bio.js" defer></script>
    <title>All Candidates</title>
</head>
<body>
    <nav class="editable-table-nav">
        <h1>All Candidates
        <div class="navigation-buttons">
            <a href="/" class="btn-nav">↑</a>
            <button id="home">⌂</button>
            <a href="/bio/new" class="btn-nav">Add New Candidate</a>
        </div>
        </h1>
    </nav>

    <form method="GET" action="/candidates" class="search-form">
        <input 
            type="text" 
            name="search" 
            placeholder="Search candidates" 
            value="<%= searchValue %>" 
        />
        <button type="submit">Search</button>
    </form>

    <div class="interactive-list">
        <% users.forEach(user => { %>
            <div class="interactive-card">
                <p><strong><%= user.name %> <%= user.surname %></strong></p>
                <p>Age: <%= user.age %></p>
                <p>Location: <%= user.location %></p>
                <div class="links">
                    <a href="/bio/<%= user.u_id %>">Biography</a> | 
                    <a href="/job/<%= user.u_id %>">Job Card</a>
                </div>
            </div>
        <% }); %>
    </div>
</body>
</html>